* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

body {
  height: 100%;
}

header {
  color: aliceblue;
  background-color: #508aa8;
  width: 100%;
  height: 95px;
  padding: 8px 1px 0px 1px;
}

.logo {
  margin-top: 10px;
  text-align: center;
}

.logo a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

.search {
  margin: 10px 3px 0px 3px;
}

.search input {
  width: 80%;
  height: 35px;
  border-radius: 8px;
}
.search button {
  color: #fff;
  background: #4a306d;
  width: 20%;
  height: 35px;
  border-radius: 8px;
}
/* .menu {
  background-color: #4a306d;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
} */

.products {
  width: 100%;
  background-color: #c8e0f4;
  padding: 20px;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr;
}

.item {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  padding: 15px;
}

.hover_effect:hover {
  color: white;
}

.product_img {
  height: 180px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.promos {
  font-weight: bold;
  color: red;
}

.original_price {
  text-decoration: line-through;
  color: red;
}

footer {
  color: fff;
  width: 100%;
  height: 40px;
  background-color: #508aa8;
  text-align: center;
  font-size: small;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 640px) {
  html {
    height: 100%;
  }

  .search {
    margin: 10px 20% 0px 20%;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
  }
  .item {
    height: 100%;
  }
}

@media only screen and (min-width: 1008px) {
  html {
    height: 100%;
  }

  .logo {
    text-align: start;
    margin-left: 10px;
  }
  .search {
    margin: 10px 30% 0px 30%;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
  }
  .item {
    height: 100%;
    width: 250px;
  }

  #item1 .product_img img {
    object-position: center 75%;
  }

  #item4 .product_img img {
    object-position: center center;
  }
}
